<table class="table table-striped">
    <tr>
        <% ['Song Title', 'Artist'].each do |header| %>
        <th><%= header %></th>
        <% end %>
    </tr>
    <% songs.each do |row| %>
    <tr>
        <td><%= row.title %></td>
        <td><%= row.primary_artist.name%></td>

    </tr>
    <% end %>
</table>




